//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

import UIKit

fileprivate enum Sections : Int {
    case items
    case count
}

fileprivate enum Cells : String {
    case item = ""
}


struct {{ module_info.name }}TableVM : TableViewVM{
    let data : {{ module_info.name }}Entity
    var xibsNames: [String] { [String]()}
    var sectionsCount: Int {Sections.count.rawValue}
    var didSelectCellHandler: TableViewCooseCellHandler?
    
    func rowsCount(for section: Int) -> Int {
        0
    }
    
    func cell(table: UITableView, ip: IndexPath) -> UITableViewCell {
        UITableViewCell()
    }
}