//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

protocol {{ module_info.name }}ViewInput : AnyObject {
    func configure(output: {{ module_info.name }}ViewOutput)
    
    func showSpinner()
    func hideSpinner()
    func close()
    func show(message: String?)
    
    func update(table: TableViewVM)
    func update(title: String)
    
}

protocol {{ module_info.name }}ViewOutput: AnyObject  {
    func viewLoaded()
    func backPressed()
}
