//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//


import UIKit

class {{ module_info.name }}View: UIViewController {
    fileprivate var presenter: {{ module_info.name }}ViewOutput!
    fileprivate var tableVM : TableViewVM!
    
    @IBOutlet fileprivate weak var backButton: UIButton!
    @IBOutlet fileprivate weak var titleLabel: UILabel!
    @IBOutlet fileprivate weak var tableView: UITableView!
    
    override func viewDidLoad() {
        super.viewDidLoad()
        self.tableView.tableFooterView = UIView.init(frame: .zero)
        self.titleLabel.text = ""
        self.presenter.viewLoaded()
    }

    @IBAction func backButtonPressed(_ sender: Any) {
        self.presenter.backPressed()
    }

}

extension {{ module_info.name }}View : {{ module_info.name }}ViewInput {
    func update(table: TableViewVM) {
        self.tableVM = table
        self.tableView.register(table.xibsNames)
        self.tableView.dataSource = self
        self.tableView.delegate = self
        self.tableView.reloadData()
    }
    
    func update(title: String) {
        self.titleLabel.text = title
    }
    
    func show(message: String?) {
        let alert = UIAlertController(title: nil, message: message, preferredStyle: .alert)
        alert.addAction(UIAlertAction(title: "OK", style: .cancel, handler: nil))
        self.present(alert, animated: true, completion: nil)
    }
    
    func showSpinner() {
        LoaderSheet.sharedInstance.showLoader()
    }
    
    func hideSpinner() {
        LoaderSheet.sharedInstance.removeLoader()
    }
    
    func configure(output: {{ module_info.name }}ViewOutput) {
        self.presenter = output
    }
    
    func close() {
        self.navigationController?.popViewController(animated: true)
    }
}

extension {{ module_info.name }}View : UITableViewDelegate, UITableViewDataSource {
    func tableView(_ tableView: UITableView, numberOfRowsInSection section: Int) -> Int {
        self.tableVM?.rowsCount(for: section) ?? 0
    }
    func tableView(_ tableView: UITableView, cellForRowAt indexPath: IndexPath) -> UITableViewCell {
        self.tableVM?.cell(table: tableView, ip: indexPath) ?? UITableViewCell()
    }
    func numberOfSections(in tableView: UITableView) -> Int {
        self.tableVM?.sectionsCount ?? 0
    }
    func tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath) {
        self.tableVM?.didSelectCellHandler?(indexPath)
    }
}