//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
class {{ module_info.name }}ModuleFabric {
    static func create(config: {{ module_info.name }}Configuration) -> UIViewController {
        let presenter  =  {{ module_info.name }}Presenter()
        let model = {{ module_info.name }}Model()
        let view = {{ module_info.name }}View()
        view.configure(output: presenter)
        model.configure(output: presenter)
        presenter.configure(config: config, view: view, model: model)
        return view
    }
}
