//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

struct {{ module_info.name }}Configuration {

}

protocol {{ module_info.name }}ModuleInput {
    func configure(config: {{ module_info.name }}Configuration, view: {{ module_info.name }}ViewInput, model: {{ module_info.name }}ModelInput)
}
