//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
class {{ module_info.name }}Presenter {

    private weak var view : {{ module_info.name }}ViewInput!
    private var model : {{ module_info.name }}ModelInput!
    private var config: {{ module_info.name }}Configuration!
    
}

extension {{ module_info.name }}Presenter : {{ module_info.name }}ModuleInput {
    func configure(config: {{ module_info.name }}Configuration, view: {{ module_info.name }}ViewInput, model: {{ module_info.name }}ModelInput) {
        self.view = view
        self.model = model
        self.config = config
    }
    
    fileprivate func cellTapped(ip: IndexPath) {}
    
}

extension {{ module_info.name }}Presenter : {{ module_info.name }}ViewOutput {
    func viewLoaded() {
        self.view.showSpinner()
        self.model.loadData()
    }
    
    func backPressed() {
        self.view.close()
    }
}

extension {{ module_info.name }}Presenter : {{ module_info.name }}ModelOutput {
    func dataLoaded(_ data: {{ module_info.name }}Entity) {
        self.view.hideSpinner()
        self.view.update(title: "{{ module_info.name }}")
        let vm =  {{ module_info.name }}TableVM.init(data: data, didSelectCellHandler: self.cellTapped(ip:))
        self.view.update(table: vm)
    }
    
    func error(_ error: Error) {
        self.view.hideSpinner()
        self.view.show(message: error.localizedDescription)
    }   
}