//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

protocol {{ module_info.name }}ModelInput: AnyObject {
    func configure(output: {{ module_info.name }}ModelOutput)
    func loadData()
}

protocol {{ module_info.name }}ModelOutput: AnyObject {
    
    func dataLoaded(_ data: {{ module_info.name }}Entity)
    func error(_ error: Error)
}
