//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

class {{ module_info.name }}Model {
    fileprivate weak var presenter: {{ module_info.name }}ModelOutput!
}

extension {{ module_info.name }}Model : {{ module_info.name }}ModelInput {
    func configure(output: {{ module_info.name }}ModelOutput) {
        self.presenter = output
    }

    func loadData(){
        
    }
}